extends  layouts/main
block variables
    - pageTitle="About"


block content
    +navbar-fixed("Project name","navbar","inverse")
        +nav_item("index.html") Home
        +nav_item("#","active") About
        +nav_item("contacts.html") Contact
    .container
        .starter-template
            h2 About content
            p
                | Lorem ipsum dolor sit amet, ut vel noster epicuri elaboraret, vis te eros magna interesset, option tincidunt necessitatibus vis ne. Ne vis odio stet, est cu eripuit epicurei, per no sale doctus. Cum ad lucilius tractatos persecuti. Te dignissim deseruisse quo, vocent accusamus et est. Sea ut accusam abhorreant theophrastus, ea vitae accusam verterem sea.
            p
                | Summo ridens debitis est at, solet interesset quo ad. Facilis commune omittantur in mea, sit movet veniam fabellas ea, nec ne falli nominavi. In feugiat fabellas consequat sea, convenire cotidieque delicatissimi in sit. Placerat periculis eam ex, id iudico pertinacia adipiscing vis.
            p
                | Simul aliquid vocibus eu nec. Te dicat nonumes sed. Ad mel suas autem mandamus, quis latine appareat vel id, cu harum postea vix. At vis autem tamquam eleifend. Per ut alienum percipit. Nostrum eloquentiam pri in.
            p
                | Pri cu prima labitur, ipsum molestiae reprehendunt vel in, eam mutat autem alienum ex. Lorem constituam ius id, albucius petentium sit ut, ad pro augue homero deseruisse. Vix id atomorum adipiscing efficiendi, nostrum vituperatoribus duo id. Ut dicant bonorum expetenda ius. Quaestio sapientem pri ea, option officiis volutpat usu ad.
            p
                | Diam latine no sed, per id solet tantas invidunt. Mei id simul facete corpora, ne posse recteque dignissim vim, id eam primis antiopam. Vis solum ubique animal te, et mutat ipsum salutandi per. Usu ne mutat congue. Ridens definiebas te eos, pri ne tollit libris concludaturque.
            p
                | Ut prompta oporteat eos, fugit dolorem senserit te vis, nec homero dolores reprehendunt ex. Assum maluisset est id. In his quem gloriatur. Noster tamquam accusamus ut mel, an duo brute ignota iracundia. Simul dicant vel te.
            p
                | Te est brute liber, et aperiri impedit liberavisse per, nec ad eirmod aliquid bonorum. Quas mazim nullam sit cu, ut eam menandri perpetua. No nam dicat detraxit mediocritatem. Ei timeam euripidis adversarium vim, ea melius apeirian recusabo vel, ut idque explicari vis. Pro impetus theophrastus no, ea ius fugit utinam fuisset, debet soleat et nam. Solet officiis conclusionemque ad ius, at illum pertinax comprehensam ius.
            p
                | Vis cu dicta adipisci. Ius ut agam complectitur interpretaris. Mei no saepe intellegat, vel ea ipsum movet. Aperiri neglegentur accommodare cum ut, pri ne amet scaevola probatus. No latine volumus ullamcorper sed, no vero alterum accusata eos. Malis omittam placerat et eam.
            p
                | Sit ex veritus mediocritatem, ancillae luptatum est cu. Solet suavitate in pri, sit unum accusam no. Nec in amet volumus consectetuer, graece vulputate in eos, invenire consulatu cu duo. Eu sit clita recteque, nam vitae molestiae expetendis an, eos facer dolorem eu.
            p
                | Reque cetero cotidieque no his. Vidit maiestatis honestatis in per. Vocent argumentum sit an. His ex vidit qualisque neglegentur.
