﻿extends ../node_modules/pug-bootstrap/_bootstrap
block append styles
    style.
        body {
            padding-top: 40px;
        }
        .starter-template {
            padding: 40px 15px;
            text-align: center;
        }
block body
    +navbar-fixed("Project name","navbar","inverse")
        +nav_item("#","active") Home
        +nav_item("about.html") About
        +nav_item("contacts.html") Contact
    .container
        .starter-template
            h1 Bootstrap starter template
            p.lead
                | Use this document as a way to quickly start any new project.
                br
                |  All you get is this text and a mostly barebones HTML document.

        h1 Put your own body coasntent here
        .row
            .col-md-9
                +carousel("c1", slides)
